---
layout: default
---
<!-- This loops through the paginated posts -->
<!-- {% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %} -->



<div class="home">
  {% for post in paginator.posts %}
	  <div class="post postContent">
		<div  class="postDate">
			<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
				{{ post.date | date: "%b %-d, %Y" }}
			</time>
		</div>
		<!-- This is totally optional -->
		<div class="postDay">
		  {{post.tag}} 
		</div>
		<!--the above is optional -->
		<br>
		<div class="postTitle">
			<!-- Provides conditional for link list posts. If variable "link" is present in the post file, post title links to source and inserts an arrow. If no link variable is present, the title links to the post itself -->
			<a class='postLink' href="{% if post.link %}{{post.link}}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>{% if post.link %}<span class="link-arrow"> &rarr;</span>{% endif %}
		</div>
		{% if post.link %}
			<div class="permalink">
				<a href="{{ post.url }}">Permalink</a>
			</div>
			<br />
		{% endif %}
		<div class="postExt">
			{{ post.content }}
		</div>
	  </div>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    	<a href="{{ paginator.previous_page_path }}" class="next">Next</a>
    	{% else %}
      	<span class="next">Next</span>
    {% endif %}
    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    	<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="previous">Previous</a>
    	{% else %}
      	<span class="previous">Previous</span>
    {% endif %}
  </div>

<!-- Post list which might be nice somewhere else that isn't the home page! -->
  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta-main">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link-main" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->
<!-- ********* -->

</div>
