<center> <a href="/" class="logo"><img src="/img/logo.png" class="logo"></a></center>
<center> <a href="/"><div class="site-title"> {{site.title}} </div></a></center>
<center> <div class="site-description">{{site.description}} </div></center>

<div class="wrapper">
  <div class="trigger site-navigation">
    <a class="nav-link" href="/">HOME</a>

    {% for sitePage in site.pages %}
    {% if sitePage.nav == true %}

    <a class="nav-link" href="{{sitePage.url}}">{{sitePage.title}}</a>

    {% endif %}
    {% endfor %}
  </div>
</div>
